.container-fluid {
  width: 100%;
  max-width: $container-max-width;
  margin-inline: auto;
  padding-inline: $container-padding-mobile;

  @include respond-to(md) {
    padding-inline: $container-padding-tablet;
  }

  @include respond-to(xl) {
    padding-inline: $container-padding-desktop;
  }
}
